<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
    gap: 20px;
    background-color: antiquewhite;
  }
</style>

<main class="main">
  <h1>Animated button</h1>
  <app-button
    label="Schedule a call"
    [icon]="rightArrow"
    (onClick)="clickFunction()"
  ></app-button>
  <app-button
    label="Talk to our experts"
    backgroundClr="#ffffff"
    textClr1="#181B2E"
    textClr2="#ffffff"
    [icon]="rightArrowBlue"
  ></app-button>
  <app-button
    label="Schedule a call"
    backgroundClr="transparent"
    [icon]="rightArrow"
    [border]="true"
    backgroundClr="#cd1242"
  ></app-button>

  <h1>Home Banner Circle Animation</h1>
  <app-banner
    title="Simplifying Digital.<br /> Simplifying Lives."
    subtitle="A digital transformation partner for <br /> engineering experiences"
    button="Our Services"
    image="assets/images/homepage_banner_simplify 1.png"
  ></app-banner>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
